$primary-color: #f5f5f5;
$tertiary-color: #21457c;
$secondary-color: #162b42;
$text-secondary: #6b7280;
$success-color: #06b58c;
$success-color-2: #098d6e;
$success-color-3: #83f883;
$danger-color: #ed5565;
$danger-color-2: #d6464e;
$lightwarning-color: #fef3c3;
$warning-color: #f8ac59;
$warning-color-2: #db801e;

$primary-blue: #396aac;

$light-color: #ffffff;
$lightgrey-color: #ccc;
$dark-color: #000000;
$grey-color: #ebebeb;
$darkgrey-color: #888888;
$all-lines: #bdbdbd;

$secondary-color-opacity: rgba(22, 43, 66, 0.7);
$secondary-color-opacity1: rgba(22, 43, 66, 0.5);

$dark-color-opacity: rgba(157, 31, 31, 0.7);
$dark-color-opacity1: rgba(0, 0, 0, 0.3);
$dark-color-opacity2: rgba(0, 0, 0, 0.1);
$card-variant-one: #f5f5f5;

$button-bgone: #ffffff;
$button-fontone: #066bb5;
$button-bgtwo: #3a3a3a;
$button-fonttwo: #ffffff;

$primary-green: #06b58c;
$primary-blue: #396aac;
$primary-yellow: #f8ac59;

$main-font: #162b42;
$primary-font: #11142d;
$primary-font-var: #3f4155;
$secondary-font: #808080;
$tertiary-font: #6b7886;
$light-gray: #b1b2b9;
$all-lines: #bdbdbd;
$all-lines-variant: #e0e0e0;
$email-card: #ebebeb;
$selected-email-card: #ed6c02;
$light-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

//Loader colors

$loader-primary-blue: #2c61aa; /* Main blue from the SVG */
$loader-light-blue: #7fa9e6; /* Lighter shade of blue */
$loader-dark-blue: #194785; /* Darker shade of blue */
$loader-white: #aec6eb; /* Pure white for contrast */


$red-100: #fee2e2;
$red-800: #991b1b;
$blue-100: #dbeafe;
$blue-800: #1e40af;
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-600: #4b5563;
$gray-900: #111827;

$warning-100: #fef3c3;
$warning-800: #854d0e;

$blue-100: #dbeafe; // light background
$blue-800: #1e40af;

$success-100: #d1fae5; // soft mint green (light)
$success-800: #065f46; // deep teal-green (dark)