.layout {
  // height: calc(100vh - 20px);
  background: #000;
  // overflow-x: scroll;
  .sider {
    // background: #121212;
    // height: 100%;
    border-radius: 10px;
    margin-right: 10px;
    width: auto;
    // overflow: auto;
    height: calc(100vh - 20px);
    position: sticky;
    inset-inline-start: 0;
    top: 10px;
    bottom: 0;
    .side-bar-menu {
      // height: 100vh;
      height: 100%;
      border-radius: 10px;
      background: #121212;
      border-right: 1px solid #333;
      // width: auto;
      padding: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      // position: fixed;
    }
  }

  .home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #10161b;
    height: 100%;
    padding: 16px;
    border-radius: 10px;
    height: calc(100vh - 20px);
    overflow-y: scroll;

    .home-content {
      // background: #10161b;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

 
  }
}
