.topbar {
  .search-input-div {
    margin-left: auto;
    width: 50%;
    .search-input {
      background-color: #20272c;
      border: none;
      color: #fff !important;

      ::placeholder {
        color: #fff !important;
      }
    }
  }
}
