@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./styles/colors";
@import "./styles/mixins";
@import "./styles/variables";
@import "./styles/layout.scss";
@import "./styles/topbar";
@import "./styles/trendingcontainer";
body {
  margin: 0;
  padding: 0;
  background: #000;
  padding: 10px;
  overflow: hidden;

  @include md {
    padding: 0px;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
.App {
  // min-height: 100vh;
  font-family: "Poppins";
}

.trailer-modal {
 
  .ant-modal-content {
    // height: 80vh;
    // aspect-ratio: 16/9;
    border-radius: 5px;
    background-color: #000 !important;
    padding: 0px !important;

    .ant-modal-body {
      @include layout(column);
      gap: 5px;
      // padding: 8px;
      .modal-top {
        padding: 8px;
        width: 100%;
        @include layout(row, space-between);
        align-items: center;
        .modal-name {
          @include font-props(500, $font-size-4, $light-color);
        }
        .close-button {
          @include button-reset();
          @include hover-bg($button-bgtwo);
          padding: 0px 12px;
          background-color: #000;
          color: #fff

        }
      }
    }
  }
  .trailer-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    aspect-ratio: 16/9;
  }
}
